$mainBackgroundColor: rgb(234, 237, 238);
$vintedBlueColor: #2eb1ba;

.publish-offer {
  height: 100vh;
  font-family: "Maison Neue", sans-serif;
  padding-top: 20px;
  background-color: $mainBackgroundColor;
}

form {
  width: 1280px;
  margin: 40px auto 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    color: red;
    font-size: 24px;
    background-color: $mainBackgroundColor;
    padding-bottom: 20px;
  }
}

.picture-upload {
  height: 260px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px gray;
  label {
    line-height: 30px;
  }
}

.article-introduction {
  display: flex;
  flex-direction: column;
  .article-title {
    display: flex;
    justify-content: space-between;
    input {
      width: 50%;
    }
  }
  .article-description {
    display: flex;
    justify-content: space-between;
    textarea {
      width: 50%;
    }
  }
}

.article-details {
  div {
    display: flex;
    justify-content: space-between;
    input {
      width: 50%;
    }
  }
}

.selling-conditions {
  .price {
    display: flex;
    justify-content: space-between;
    input {
      width: 50%;
    }
  }
}
