$vintedBlueColor: #2eb1ba;

.connection {
  height: 470px;
  width: 350px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Maison Neue", sans-serif;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 24px;
  }
}

.connection .signup-form {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    p {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      color: $vintedBlueColor;
    }
  }
}

.signup-form input {
  height: 40px;
  border: none;
  border-bottom: #fdced2 solid 1px;
  margin-top: 15px;
}

.signup-form input::placeholder {
  font-size: 16px;
  color: #cbcccd;
}

.connection-button {
  height: 40px;
  width: 100%;
  background-color: var(--blue-vinted);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.connection-button:hover {
  cursor: pointer;
}

p.linkto {
  text-decoration: none;
}

p.linkto:hover {
  cursor: pointer;
}
