:root {
  --blue-vinted: #2eb1ba;
  --font-vinted: "Lato", sans-serif;
}

main.main-home {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: var(--font-vinted);
}

.hero-block {
  position: relative;
}

.hero-block img {
  width: 100vw;
  height: 440px;
  object-fit: cover;
  object-position: 70% 30%;
}

main .white-square {
  width: 25%;
  height: 35%;
  background-color: white;
  position: absolute;
  left: 30px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 25px;
  font-size: 30px;
  border-radius: 5px;
}

main .white-square button {
  height: 40px;
  width: 90%;
  background-color: var(--blue-vinted);
  border: none;
  color: white;
  border-radius: 5px;
}

.homepage-offers {
  width: 1250px;
  margin: 10px auto;
  /* border: red solid 1px; */
  display: flex;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: flex-end;
  gap: 10px;
}

.homepage-offers div.offer {
  width: 19%;
  padding-bottom: 15px;
}

.avatar {
  display: flex;
  gap: 10px;
  margin-left: 30px;
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
}

.avatar img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.offer-picture img {
  height: 360px;
  width: 100%;
  object-fit: cover;
}
