/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;700&family=Pacifico&family=Roboto:wght@400;700&display=swap"); */

:root {
  --blue-vinted: #2eb1ba;
  --font-vinted: "Lato", sans-serif;
}

div .main-offer {
  height: 90vh;
  background-color: rgb(234, 237, 238);
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.main-offer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-offer .left img {
  height: 600px;
}

.main-offer .right {
  height: 600px;
  width: 370px;
  background-color: #fff;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.right-top,
div.right-bottom {
  height: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.main-offer .right .price {
  font-size: 24px;
}

.main-offer .right .details {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-weight: 400;
  font-size: 14px;
}

ul.each-detail {
  display: block;
  padding: 2px 0;
}

.each-detail li {
  display: flex;
  justify-content: space-between;
}

span.type {
  color: #999999;
}

span.infos {
  color: #666666;
}

.owner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.owner img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.buy-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buy-button button {
  background-color: var(--blue-vinted);
  border: none;
  height: 40px;
  width: 80%;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
