:root {
  --blue-vinted: #2eb1ba;
  --font-vinted: "Lato", sans-serif;
}
.sign-in {
  display: flex;
  flex-direction: column;
}
.connection {
  height: 470px;
  width: 300px;
  margin: 30px auto 0 auto;
  /* border: 1px solid var(--blue-vinted); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  font-family: var(--font-vinted);
}

.connection h2 {
  font-size: 32px;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signup-form input {
  height: 40px;
  border: none;
  border-bottom: #fdced2 solid 1px;
  margin-top: 15px;
}

.signup-form input::placeholder {
  font-size: 16px;
  color: #cbcccd;
}

.connection-button {
  height: 40px;
  width: 100%;
  background-color: var(--blue-vinted);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.connection-button:hover {
  cursor: pointer;
}

p.linkto {
  text-decoration: none;
}

p.linkto:hover {
  cursor: pointer;
}
