:root {
  --blue-vinted: #2eb1ba;
  --font-vinted: "Lato", sans-serif;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 100px;
  height: 40px;
}

header .researcher {
  height: 40px;
  width: 630px;
  background-color: #f5f6f7;
  border: none;
  font-family: var(--font-vinted);
  border-radius: 5px;
}

header .researcher::placeholder {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #d0d3d4;
}

header button {
  height: 30px;
  width: 110px;
  border: 1px solid var(--blue-vinted);
  background-color: white;
  color: var(--blue-vinted);
  border-radius: 5px;
  font-size: 12px;
  font-family: var(--font-vinted);
}

header .blue-button {
  background-color: var(--blue-vinted);
  color: white;
}

header button:hover,
header img:hover {
  cursor: pointer;
}
